
#about {
    h2 {
        text-align: center;
    }
    & .autoScrollDown a {
        text-decoration: none;
        color: green;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        transition: .2s ease-in;
        &:hover {
            color: orange;
        }
    }
}

.aboutMe {
    display: flex;
    align-items: center;
    padding: 0px 55px 0px 55px;
    
    &__text {
        background: #fff;
        border: solid 5px orange;
        padding: 20px 20px;
        margin-right: 40px;
        color: black;
    }
    & img {
        width: 100%;
        max-width: 430px;

    }
    & p {
        @include fontSize(20);
    }

    &__text p a {
        text-decoration: none;
        color: green;
        &:hover {
            color:orange;
        }
    }
}

     .fa-angle-down {
         margin-top: 0;
         padding-top: 0;
        @include fontSize(70);
    }

@media only screen and (max-width: 945px) {
    .aboutMe p {
        @include fontSize(15);
    }
}

@media only screen and (max-width: 745px) {
    .aboutMe {
        flex-direction: column-reverse;
        &__text {
            margin-right: 0px;
        }
    }
}