
#about {
    h2 {
        text-align: center;
    }
    & .autoScrollDown a {
        text-decoration: none;
        color: green;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
    }
}

.aboutMe {
    display: flex;
    align-items: center;
    padding: 30px 25px 25px 25px;
    &__text {
        background: #fff;
        border: solid 5px orange;
        padding: 20px 20px;
        margin-right: 10px;
        color: black;
    }
    & img {
        width: 100%;
        max-width: 430px;

    }
    & p {
        @include fontSize(20);
    }

    &__text p a {
        text-decoration: none;
        color: green;
        &:hover {
            color:orange;
        }
    }
}


.contentTest {
    height: 900px;
}


// Thanks Em