.heroMain {
    // border: solid #fff 5px;
    max-width: 1280px;
    width: 95%;
    margin: 0 auto;
}

.heroMain {
    display: flex;
    justify-self: center;
    align-items: center;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    @include fontSize(330);
    margin: 0 auto;
    padding-top: 30px;
    line-height: 80%;
}

h2 {
    @include fontSize(40);
    margin-bottom: 10px;
    margin-top: 15px;
}

 .wrapper a {
    text-decoration: none;
    color: white;
}

.fa-angle-down {
    @include fontSize(40);
}

//stretch goal! on hover add transition! 


.typed::after {
	content: '|';
	display: inline;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}