/*GENERAL STYLES*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Acessibility skip link styling */
/* ============================== */
.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black; }

.skip-link:focus {
  left: 0; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

.wrapper {
  max-width: 1280px;
  padding: 0 25px; }

.backdrop {
  background: url("/../assets/torontoskyline.jpeg") center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }

.text {
  color: white;
  background: rgba(0, 0, 0, 0.75);
  mix-blend-mode: multiply;
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  text-align: center;
  -webkit-transition: text-indent .5s;
  -o-transition: text-indent .5s;
  transition: text-indent .5s; }

header {
  height: 100%;
  min-height: 650px;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 40px;
  font-size: 4rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: end;
  flex-direction: end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 0;
  padding: 0 25px;
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99;
  color: white; }
  .nav__logo img {
    margin: 40px 0 20px 0;
    height: 55px;
    padding: 0 3px 0 3px;
    background: orange;
    -webkit-transition: 0.15s ease-in;
    -o-transition: 0.15s ease-in;
    transition: 0.15s ease-in; }
    .nav__logo img:hover {
      background: seagreen; }
  .nav__logo {
    display: none; }
  .nav a {
    text-decoration: none;
    color: inherit;
    text-transform: capitalize; }

li {
  text-transform: capitalize; }

ul {
  list-style-type: none; }

.hamburgerNav_list {
  background: seagreen;
  padding: 5px; }

nav .fas.show-icon {
  display: block; }

header .toggle__nav {
  text-align: right;
  width: 100%;
  padding: 8px; }

.fas {
  font-size: 30px;
  -webkit-transition: .15s ease-in;
  -o-transition: .15s ease-in;
  transition: .15s ease-in; }

.fas:hover {
  cursor: pointer; }

#toggle__nav:checked ~ li {
  display: none; }

#toggle__nav {
  display: none; }

header .hamburgerNav_list .toggle__nav:hover {
  color: orange; }

input[type="checkbox"], input[type="radio"] {
  padding: 0; }

.hamburgerNav__item {
  margin: 1.5rem; }
  .hamburgerNav__item:hover {
    color: orange; }

.heroMain {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto; }

.heroMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .heroMain__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 430px;
  font-size: 43rem;
  margin: 0 auto;
  padding-top: 30px;
  line-height: 78%; }

h2 {
  font-size: 40px;
  font-size: 4rem;
  margin-bottom: 0;
  padding: 0;
  margin-top: 10px; }

.wrapper a {
  text-decoration: none;
  color: white; }

.fa-angle-down {
  font-size: 40px;
  font-size: 4rem; }

.typed::after {
  content: '|';
  display: inline;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media only screen and (max-width: 888px) {
  h1 {
    font-size: 280px;
    font-size: 28rem;
    line-height: 85%; } }

@media only screen and (max-width: 755px) {
  h1 {
    font-size: 240px;
    font-size: 24rem;
    line-height: 90%; } }

@media only screen and (max-width: 645px) {
  h1 {
    font-size: 200px;
    font-size: 20rem;
    line-height: 100%; }
  .text h2 {
    font-size: 30px;
    font-size: 3rem;
    margin-bottom: 55px; } }

@media only screen and (max-width: 545px) {
  h1 {
    font-size: 170px;
    font-size: 17rem;
    margin-top: 70px; }
  h2 {
    font-size: 20px;
    font-size: 2rem;
    margin-bottom: 55px; } }

@media only screen and (max-width: 475px) {
  h1 {
    font-size: 150px;
    font-size: 15rem;
    margin-top: 90px; }
  h2 {
    font-size: 18px;
    font-size: 1.8rem;
    margin-bottom: 55px; } }

@media only screen and (max-width: 415px) {
  h1 {
    font-size: 120px;
    font-size: 12rem;
    margin-top: 120px; }
  h2 {
    font-size: 15px;
    font-size: 1.5rem;
    margin-bottom: 55px; } }

#about h2 {
  text-align: center; }

#about .autoScrollDown a {
  text-decoration: none;
  color: green;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  transition: .2s ease-in; }
  #about .autoScrollDown a:hover {
    color: orange; }

.aboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px 55px 0px 55px; }
  .aboutMe__text {
    background: #fff;
    border: solid 5px orange;
    padding: 20px 20px;
    margin-right: 40px;
    color: black; }
  .aboutMe img {
    width: 100%;
    max-width: 430px; }
  .aboutMe p {
    font-size: 20px;
    font-size: 2rem; }
  .aboutMe__text p a {
    text-decoration: none;
    color: green; }
    .aboutMe__text p a:hover {
      color: orange; }

.fa-angle-down {
  margin-top: 0;
  padding-top: 0;
  font-size: 70px;
  font-size: 7rem; }

@media only screen and (max-width: 945px) {
  .aboutMe p {
    font-size: 15px;
    font-size: 1.5rem; } }

@media only screen and (max-width: 745px) {
  .aboutMe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
    .aboutMe__text {
      margin-right: 0px; } }

footer {
  background: seagreen;
  color: white; }

footer p {
  margin: 0;
  text-align: center; }

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 25px 0;
  padding: 25px;
  background: #16A085;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F4D03F, #16A085);
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#F4D03F), to(#16A085));
  background: -webkit-linear-gradient(left, #F4D03F, #16A085);
  background: -o-linear-gradient(left, #F4D03F, #16A085);
  background: linear-gradient(to right, #F4D03F, #16A085);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: relative;
  z-index: 1; }

.skills:after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  -webkit-transform: skewY(-2.5deg);
  -ms-transform: skewY(-2.5deg);
  transform: skewY(-2.5deg);
  -webkit-transform-origin: 100%;
  -ms-transform-origin: 100%;
  transform-origin: 100%;
  z-index: -1; }

.skills h2 {
  text-align: center;
  font-size: 40px;
  font-size: 4rem;
  color: white;
  padding: 30px 0;
  margin-top: 0; }

.devicon-jquery-plain-wordmark,
.fab,
.far {
  font-size: 90px;
  font-size: 9rem;
  margin: 10px;
  color: white; }

.skills img {
  margin: 0 auto;
  height: 90px;
  padding-top: 12px;
  padding-left: 10px; }

@media only screen and (max-width: 580px) {
  .devicon-jquery-plain-wordmark,
  .fab,
  .far {
    font-size: 70px;
    font-size: 7rem;
    margin: 0 auto;
    padding: 5px; } }

@media only screen and (max-width: 450px) {
  .devicon-jquery-plain-wordmark,
  .fab,
  .far {
    font-size: 50px;
    font-size: 5rem;
    padding: 3px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .skills img {
    height: 60px;
    padding-top: 8px;
    padding-left: 5px; }
  .skills h2 {
    font-size: 30px;
    font-size: 3rem;
    color: white;
    padding: 10px 0;
    margin-bottom: 20px; } }

.work {
  width: 90%;
  margin: 0 auto; }
  .work__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto; }
  .work h2 {
    text-align: center;
    display: inline-block;
    margin: 70px auto;
    font-size: 60px;
    font-size: 6rem;
    padding: 8px;
    border: solid 5px orange; }
  .work h3 {
    border-bottom: solid 5px seagreen;
    margin-top: 0; }
  .work img {
    max-width: 100%;
    max-height: 400px; }
  .work__project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 55px 0; }
    .work__project:nth-child(even) {
      text-align: right; }
    .work__project--text {
      width: 50%;
      padding: 0 10px; }
      .work__project--text p {
        font-size: 20px;
        font-size: 2rem; }
      .work__project--text a {
        margin-top: 10px;
        font-size: 20px;
        font-size: 2rem;
        text-decoration: none;
        color: white;
        background: orange;
        padding: 15px 15px;
        border-radius: 5px;
        -webkit-transition: 0.15s ease-in;
        -o-transition: 0.15s ease-in;
        transition: 0.15s ease-in; }
        .work__project--text a:hover {
          background: white;
          color: orange;
          border: solid 3px orange; }
    .work__project img {
      width: 50%; }
    .work__project h3 {
      font-size: 30px;
      font-size: 3rem; }
  .work__project:nth-child(2n) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }

@media only screen and (max-width: 960px) {
  .work__project--text {
    width: 40%; }
    .work__project--text p {
      font-size: 15px;
      font-size: 1.5rem; }
    .work__project--text a {
      font-size: 12px;
      font-size: 1.2rem; } }

@media only screen and (max-width: 735px) {
  .work__project {
    padding: 35px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .work__project--text {
      width: 100%; }
    .work__project img {
      width: 100%; }
  .work__project:nth-child(2n) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

.contact {
  background: seagreen;
  height: auto;
  text-align: center; }
  .contact h3 {
    color: white;
    padding: 30px 0;
    font-size: 35px;
    font-size: 3.5rem;
    margin-bottom: 0; }
  .contact a {
    text-decoration: none; }
  .contact p {
    font-size: 30px;
    font-size: 3rem;
    color: orange; }
  .contact .fab {
    font-size: 45px;
    font-size: 4.5rem;
    -webkit-transition: 0.15s ease-in;
    -o-transition: 0.15s ease-in;
    transition: 0.15s ease-in; }
    .contact .fab:hover {
      color: orange; }

.footText p {
  color: white;
  font-size: 20px;
  font-size: 2rem;
  margin: 0;
  padding: 5px 0; }
